table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.no-list-style {
    list-style: none;
}

.nameStyle {
    font-weight: bold;
    font-size: 2.5em;
}

.roastStyle {
    color: grey;
    font-size: 1.5em;
}

ul {
    height: 620px;
}
